DATABASE_USER=postgres
DATABASE_PASSWORD=hunter6
PG_ADMIN_USER=admin@example.com
PG_ADMIN_PASSWORD=admin
PG_ADMIN_PORT=5555
DATABASE_PORT=5432
API_PORT=3000
PLAYGROUND_PORT=4000
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@localhost:${POSTGRES_PORT}/postgres?schema=public