DATABASE_USER=postgres
DATABASE_PASSWORD=hunter6
PG_ADMIN_USER=admin@example.com
PG_ADMIN_PASSWORD=admin
PG_ADMIN_PORT=5555
DATABASE_PORT=5432
PLAYGROUND_PORT=4000
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@localhost:${DATABASE_PORT}/postgres?schema=public
# USE_LEGACY_ENDPOINT=set to point to graqphql endpoint.

# This should be a reference to a tagged image deployed to the project's container registry
#   This example is for the image build for a PR, with the image deployed to GitHub Packages
COMPOSE_BE_IMAGE_TAG="pr-2"
COMPOSE_BE_IMAGE_REGISTRY="ghcr.io/Makermed"